<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiek.transfuzioni_gjakut">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconn_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconn_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.UserProfile"></activity>

        <activity android:name=".activities.ActivityListaMarresve">

        </activity>
        <activity android:name=".activities.Admin_registration">






        </activity>
        <activity android:name=".activities.Dashboard">


        </activity>
        <activity android:name=".activities.ShtoMarres"></activity>
        <activity android:name=".splashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>





        </activity>


        <activity android:name=".Home" />
        <activity android:name=".activities.Coronavirus_Cases" />
        <activity android:name=".activities.Login_form">

        </activity>
        <activity android:name=".activities.DepozitaEgjakut">


        </activity>
        <activity android:name=".activities.Registration_form" />
        <activity android:name=".forms.RegistrationForm" />
        <activity android:name=".forms.LoginForm" />
        <activity android:name=".ShtoDhurues"></activity>
        <activity android:name=".activities.Admin_login">


        </activity>

        <activity android:name=".MainActivity">



        </activity>

        <activity android:name=".Donoooooors">


        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>